name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            output_name: aspia-api-linux-amd64
          - os: windows
            arch: amd64
            output_name: aspia-api-windows-amd64.exe
          - os: darwin
            arch: amd64
            output_name: aspia-api-darwin-amd64
          - os: darwin
            arch: arm64
            output_name: aspia-api-darwin-arm64

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Build
      env:
        GOOS: ${{ matrix.os }}
        GOARCH: ${{ matrix.arch }}
      run: |
        go build -v -o build/${{ matrix.output_name }} .

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.output_name }}
        path: build/${{ matrix.output_name }}
